* {
  /* Universal Selector */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444444;
  position: relative;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: red;
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
  text-align: center;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 15px;
} */

#author {
  font-style: italic;
  font-size: 18px;
  position: relative;
}

#copyright {
  font-size: 15px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* 
.first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bolder;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  /* color: red; */
}
/* Misconception: this wont work */
article p:first-child {
  color: red;
}
/* Styling links */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orange;
}

a:hover {
  background-color: black;
  font-style: bold;
}

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */

  margin-right: 30px;
  margin-top: 15px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}
/* The Link formats are always arranged in  this order ie link, visited, hover,active (LVHA) */
/* Resolving conflict */
/* 
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: violet;

  position: absolute;
  bottom: 0;
  right: 30px;
  /* top: 50px;
  left: 50px; */
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* Pseudo element */
h3 + p::first-line {
  color: red;
}
h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: 5px;
}
/*   FLOATS   */
.author-image {
  float: left;
  margin-bottom: 10px;
}
.author {
  /* padding-left: 80px; */
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}
nav {
  float: right;
}

/* .clear {
  clear: both;
} */
